.App{
  height: 100vh;
  width: 100vw;
  display: flex;
}

/*--Sidebar--*/

.sidebar{
  height: 100vh;
  width: 23vw;
  background-color: #2c3e50;
}

h1{
  padding: 0px;
  margin: 0px;
  color: #DFE4EA
}

.icon-plus{
  top: 0px;
  font-size: 20px;
  color: #F1C40F;
  margin-right: 2vw;
  margin-top: 2.5vh;
  transition: transform .2s ease-in-out;
}

.icon-plus:hover{
  transform: scale(0.9)
}

.sidebar-header{
  display: flex;
  justify-content: space-between;
}

.sidebar-header h1{
  color: white;
  font-size: 25px;
  margin-left: 1vw;
  margin-top: 2vh;
}

/*--Note View--*/

.NoteView{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 77vw;
  position: relative;
}

.NoteView-d{
  height: 100vh;
  width: 77vw
}

/*Note Options*/

.NoteOptions{
  display: flex;
  flex-direction: row;
}

.icon-delete{
  color: #E74C3C;
  font-size: 20px;
  margin-right: 3vw;
  transition: .4s all ease-in-out;
}

.icon-delete:hover{
  transform: scale(1.1);
}

.changeColor{
  display: flex;
  flex-direction: row;
  flex-basis: 70vw
}

.changeColor button{
  margin: 3px;
  border: none;
}

#red{
  background-color: #E74C3C;
}

#green{
  background-color: #27AE60;
}

#blue{
  background-color: #3498DB;
}

.color{
  height: 15px;
  width: 15px;
  border-radius: 360px;
  transition: 0.1s transform ease-in-out;
}

.color:active{
  transform: scale(0.8)
}

.color:focus{
  outline:none
}

.save{
  position: absolute;
  right: 5vw;
  bottom: 5vh;
  background-color: #F1C40F;
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  transition: 0.1s transform ease-in-out;
}

.save:hover{
  transform: scale(0.98)
}

.save:focus{
  outline: none;
}

/*Note Content*/

.NoteContent{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 40px;
}

.content{
  height: 70vh;
  width: 72vw;
  border: none;
  resize: none;
  font-size: 16px;
}

.content:focus{
  outline: none;
}

.title-edit{
  display: flex;
  font-size: 25px;
  height: 4vh;
  width: 72vw;
  margin-bottom: 10px;
  border:none;
  text-align: center;
}

.title-edit:focus{
  outline: none;
}

.noteColor{
  display: flex;
  flex-direction: row
}

.currentColor{
  height: 15px;
  width: 15px;
  border-radius: 360px;
  margin: 3px;
  transition: 1s background-color ease-in-out;
}

/*--Sidebar--*/

.notes{
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 4vh;
  overflow: auto !important;
  height: 88vh;
}

::-webkit-scrollbar{
  width: 0px;
}

.singleNote{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 7px;
  transition: 0.4s background-color ease-in-out;
}

.singleNote:hover{
  background-color: #34495e;
}

.s-color{
  position: absolute;
  top: 43%;
  right: 3%;
  transform: translate(50%);
  height: 12px;
  width: 12px;
  align-self: flex-end;
  margin: 0px;
  margin-right: 5px;
}

.title{
  color: #DFE4EA;
  font-size: 16px;
  order: 0;
  margin: 10px;
  margin-left: 5px;
}

.date{
  order: 2;
  margin: 0px;
  margin: 10px;
  margin-left: 5px;
  font-size: 10px;
  color: #DFE4EA;
}